@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* /リセット*/

div,
dl,
dt,
dd,
p,
ul,
li,
ol,
header,
nav,
footer,
section,
article,
address {
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 1921px) {
  /*共通*/
  html {
    font-size: 10px;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W5",
      "ヒラギノ角ゴ ProN W6", meiryo, "ms pgothic", sans-serif;
    color: #000;
  }
}
@media screen and (max-width: 1920px) {
  /*共通*/
  html {
    font-size: 0.52083vw; /*10px相当*/
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W5",
      "ヒラギノ角ゴ ProN W6", meiryo, "ms pgothic", sans-serif;
    color: #000;
  }
}

.sp {
  display: none;
}
.japanese_cuisine {
  background-color: #fff;
  background-image: url(../img/footerbackground.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  overflow: hidden;
  width: 166.4rem;
  margin: 0 auto;
}
.japanese_cuisine a {
  text-decoration-line: none !important;
  text-decoration: none !important;
}
/*見出し*/
.japanese_cuisine .title_common {
  height: 6.6rem;
  margin: 0 auto;
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bolder;
  font-size: 5.8rem;
  line-height: 1;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: contain, contain;
  z-index: 100 !important;
}
.japanese_cuisine .title_white {
  background-image: url("../img/h2back_left.svg"),
    url("../img/h2back_right.svg");
}
.japanese_cuisine .title_brown {
  background-image: url("../img/h2back_left_brown.svg"),
    url("../img/h2back_right_brown.svg");
}

.japanese_cuisine .title2_common {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-size: 2.6rem;
  color: #000;
  text-align: center;
  box-sizing: content-box;
  padding-top: 1.7rem;
}
.japanese_cuisine .title2_white {
  background-image: url("../img/title2_white.svg");
}
.japanese_cuisine .title2_black {
  background-image: url("../img/title2_black.svg");
  color: #fff;
  font-size: 2.6rem;
  height: 6.6rem;
}
.japanese_cuisine a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.japanese_cuisine .anchor_point {
  position: absolute;
  top: -13.9rem;
  visibility: hidden;
  height: 0;
}

/* header */
.japanese_cuisine header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 166.4rem;
  height: 15rem;
  z-index: 999 !important;
  background-color: rgba(255, 255, 255, 0.95);
}
.japanese_cuisine header ul.header-link__1 {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0.8rem 0;
}
.japanese_cuisine header ul.header-link__1 li {
  border-right: solid 1px #deb714;
  text-align: center;
  font-size: 1.8rem;
  width: 9%;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}
.japanese_cuisine header ul.header-link__1 li:first-child {
  border-left: solid 1px #deb714;
}
.japanese_cuisine header ul.header-link__1 li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000;
  padding: 0.7rem 0.3rem;
}
.japanese_cuisine header ul.header-link__2 {
  display: flex;
  justify-content: space-between;
  height: 7.3rem;
  width: 100%;
  list-style: none;
}
.japanese_cuisine header ul.header-link__2 li {
  height: 7.3rem;
  width: 32.5%;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
}
.japanese_cuisine header ul.header-link__2 li:nth-child(1) {
  background-color: #650139;
}
.japanese_cuisine header ul.header-link__2 li:nth-child(2) {
  background-color: #000;
}
.japanese_cuisine header ul.header-link__2 li:nth-child(3) {
  background-color: #b18f01;
}
.japanese_cuisine header ul.header-link__2 li a {
  color: #ffffff;
  display: block;
  width: 100%;
  height: 7.3rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*メインビジュアル*/
.japanese_cuisine .key-visual {
  margin-top: 16rem;
  width: 166.4rem;
  height: 64.7rem;
}
.japanese_cuisine .key-visual h1 {
  width: 166.4rem;
  height: 64.7rem;
  background-image: url(../img/pc_short_h1_2.svg),
    url(../img/HUMANwashokuhirutanki_1.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 78.6rem 7.8rem, cover;
  background-position: bottom 10.7rem right 0, center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*お知らせ*/
.japanese_cuisine .oshirase {
  width: 100%;
  height: 38rem;
  margin-top: 4.7rem;
  background-color: #deb714;
  background-image: url("../img/wagara1.png"), url("../img/wagara2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: contain, contain;
  padding: 2.3rem 0 0 0;
}
.japanese_cuisine .oshirase .title_common {
  width: 89.3rem;
}
.japanese_cuisine .oshirase ul {
  list-style: none;
  width: 158.3rem;
  height: 24.2rem;
  margin: 1.9rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.japanese_cuisine .oshirase ul li {
  width: 50.4rem;
  height: 24.2rem;
  position: relative;
}
.japanese_cuisine .title2_box {
  width: 50.4rem;
  height: 24.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 1.6rem;
}
.japanese_cuisine #event .title2_box {
  background-image: url("../img/oshirase_1.jpg");
}
.japanese_cuisine #news .title2_box {
  background-image: url("../img/oshirase_2.jpg");
}
.japanese_cuisine #Instagram .title2_box {
  background-image: url("../img/oshirase_3.jpg");
}
.japanese_cuisine .title2_photobox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22.6rem;
  overflow: hidden;
}
.japanese_cuisine #Instagram p.soon{
  position :absolute;
  width:100%;
  top:13rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  text-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.8);
}

/*こんな方におすすめ*/
.japanese_cuisine .osusume {
  margin: 7.7rem auto 0 auto;
  width: 99%;
}
.japanese_cuisine .osusume .title_common {
  width: 89.3rem;
}
.japanese_cuisine .osusume ul {
  list-style: none;
  margin: 1.9rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.japanese_cuisine .osusume ul li {
  width: 50.4rem;
  position: relative;
}
.japanese_cuisine .osusume ul li p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.8rem;
}
.japanese_cuisine .osusume ul li:nth-child(1) .title2_box {
  background-image: url("../img/osusume_3.jpg");
  background-position: center 1.6rem;
}
.japanese_cuisine .osusume ul li:nth-child(2) .title2_box {
  background-image: url("../img/osusume_1.jpg");
}
.japanese_cuisine .osusume ul li:nth-child(3) .title2_box {
  background-image: url("../img/osusume_2.jpg");
}

/*一流の料理人を育てる講座です*/
.japanese_cuisine .kouza {
  margin-top: 10.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.japanese_cuisine .kouza .title_common {
  width: 121.5rem;
}
.japanese_cuisine .photo_gallery {
  position: relative;
  width: 99%;
  height: 90.7rem;
  border-radius: 1.5rem;
  background-color: rgba(222, 183, 20, 0.2);
  margin: 3.4rem auto 0 auto;
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap {
  width: 29rem;
  position: absolute;
  top: 5.3rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  /*align-items: left;*/
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap .food_type {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  background-color: #000;
  padding: 1.1rem 1.2rem 0.8rem 1.2rem;
  line-height: 1;
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap .food_title {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #000;
  font-size: 3.7rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  width: 25.8rem;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: start;
  text-align: left;
}
.japanese_cuisine .photo_gallery .main_photo {
  position: absolute;
  top: 5.3rem;
  left: 33.5rem;
  width: 99.3rem;
  height: 62.9rem;
  overflow: hidden;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper {
  height: 62.9rem;
  width: 1191.6rem;
  position: relative;
  display: flex;
  justify-content: start;
}
.main_photo_wrapper_0 {
  margin-left: 0;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_1 {
  margin-left: -99.3rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_2 {
  margin-left: -198.6rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_3 {
  margin-left: -297.9rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_4 {
  margin-left: -397.2rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_5 {
  margin-left: -496.5rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_6 {
  margin-left: -595.8rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_7 {
  margin-left: -695.1rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_8 {
  margin-left: -794.4rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_9 {
  margin-left: -893.7rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_10 {
  margin-left: -993rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_11 {
  margin-left: -1092.3rem;
  transition: margin-left 0.4s ease-out;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper figure {
  width: 99.3rem;
  height: 62.9rem;
  overflow: hidden;
  display: block;
  margin: 0;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper figure img {
  display: block;
  width: 99.3rem;
  height: 62.9rem;
  margin: 0;
}

.japanese_cuisine .photo_gallery .button_1 {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 1.9rem;
  background-color: #deb714;
  position: absolute;
}
.japanese_cuisine .photo_gallery .button_1:before {
  content: "";
  position: absolute;
  top: 1.1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.japanese_cuisine .photo_gallery .button_1_left {
  top: 34.9rem;
  left: 22.6rem;
}
.japanese_cuisine .photo_gallery .button_1_left:before {
  left: 1.3rem;
  border-width: 0.2rem 0 0 0.2rem;
}
.japanese_cuisine .photo_gallery .button_1_right {
  top: 34.9rem;
  right: 22.6rem;
}
.japanese_cuisine .photo_gallery .button_1_right:before {
  right: 1.4rem;
  border-width: 0 0.2rem 0.2rem 0;
}
.japanese_cuisine .photo_gallery .thumbnails {
  width: 158.4rem;
  height: 15.5rem;
  position: absolute;
  top: 72rem;
  left: 4rem;
  overflow: hidden;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap {
  width: 316.6rem;
  height: 15.5rem;
  display: flex;
  justify-content: start;
}
.japanese_cuisine .photo_gallery .thumbnail_wrap_left {
  margin-left: 0;
  transition: margin-left 0.7s ease-out;
}
.japanese_cuisine .photo_gallery .thumbnail_wrap_right {
  margin-left: -158.3rem;
  transition: margin-left 0.7s ease-out;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul {
  width: 158.3rem;
  height: 15.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul li {
  width: 24.5rem;
  height: 15.5rem;
  overflow: hidden;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul li img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .photo_gallery .button_2 {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 1.9rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 100;
}
.japanese_cuisine .photo_gallery .button_2:before {
  content: "";
  position: absolute;
  top: 1.1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-style: solid;
  border-color: #deb714;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.japanese_cuisine .photo_gallery .button_2_left {
  top: 5.9rem;
  left: 1.8rem;
}
.japanese_cuisine .photo_gallery .button_2_left:before {
  left: 1.3rem;
  border-width: 0.2rem 0 0 0.2rem;
}
.japanese_cuisine .photo_gallery .button_2_right {
  top: 5.9rem;
  right: 1.8rem;
}
.japanese_cuisine .photo_gallery .button_2_right:before {
  right: 1.4rem;
  border-width: 0 0.2rem 0.2rem 0;
}
.japanese_cuisine .photo_gallery .more_btn {
  display: none;
}

/*特徴1〜3*/
.japanese_cuisine .kouza .characteristic {
  position: relative;
  border-radius: 1.5rem;
  background-color: rgba(222, 183, 20, 0.2);
  border-radius: 1.5rem;
}
.japanese_cuisine .kouza .characteristic_1 {
  width: 99%;
  margin: 5.6rem auto 0 auto;
}
.japanese_cuisine .kouza .characteristic_2 {
  width: 80rem;
  margin: 5.4rem 0 0 0;
}
.japanese_cuisine .kouza .characteristic_3 {
  width: 80rem;
  margin: 5.4rem 0 0 0;
}
.japanese_cuisine .characteristic .chara_title {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 4rem;
  color: #000;
  font-weight: bolder;
  line-height: 1;
  border-bottom: solid 1px #000;
  padding: 3.3rem 0 1.4rem 7.4rem;
  margin: 0 4rem 0 7.7rem;
  position: relative;
}
.japanese_cuisine .characteristic .chara_title img {
  display: block;
  position: absolute;
  bottom: -0.1rem;
  left: -5.4rem;
  width: 10.7rem;
  height: 10.7rem;
}

.japanese_cuisine .characteristic p {
  font-size: 2.1rem;
  line-height: 4rem;
  font-weight: normal;
  margin: 5rem 4rem 5.3rem 4rem;
  color: #000;
}

/*プロの料理人が太鼓判を押しました。*/
.japanese_cuisine .recommendation {
  margin-top: 10.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .recommendation .title_common {
  width: 135.2rem;
}
.japanese_cuisine .recommendation section {
  width: 50%;
  height: 39.8rem;
  display: flex;
  box-sizing: border-box;
}

.japanese_cuisine .recommendation .recommendation_1 {
  border-bottom: solid 1px #deb714;
  border-right: solid 1px #deb714;
  margin-top: 4.3rem;
}
.japanese_cuisine .recommendation .recommendation_2 {
  border-bottom: solid 1px #deb714;
  margin-top: 4.3rem;
}
.japanese_cuisine .recommendation .recommendation_3 {
  border-right: solid 1px #deb714;
}
.japanese_cuisine .recommendation section figure {
  width: 29rem;
  height: 30.4rem;
  overflow: hidden;
  margin-right: 2rem;
  border-radius: 1.5rem;
}
.japanese_cuisine .recommendation section figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .recommendation section .textblock {
  width: 47rem;
}
.japanese_cuisine .recommendation section .name {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.japanese_cuisine .recommendation section .name {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.japanese_cuisine .recommendation section .name b {
  font-size: 3rem;
  font-weight: bolder;
}
.japanese_cuisine .recommendation section h3 {
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: bolder;
  color: #650139;
  margin-top: 1.5rem;
}
.japanese_cuisine .recommendation section .bodytext {
  font-size: 1.95rem;
  line-height: 3.2rem;
  margin-top: 0.4rem;
}
.japanese_cuisine .recommendation .recommendation_1 figure {
  margin: 0 2rem 0 0;
}

.japanese_cuisine .recommendation .recommendation_2 figure {
  margin: 0 2rem 0 5.2rem;
}
.japanese_cuisine .recommendation .recommendation_3 figure {
  margin: 5rem 2rem 0 0;
}
.japanese_cuisine .recommendation .recommendation_3 .textblock {
  margin: 5rem 0 0 0;
}
.japanese_cuisine .recommendation .recommendation_4 figure {
  margin: 5rem 2rem 0 5.2rem;
}

.japanese_cuisine .recommendation .recommendation_4 .textblock {
  margin: 5rem 0 0 0;
}

/*本物の和食を学ぶ42の研修先*/

.japanese_cuisine .training {
  margin-top: 14.6rem;
}
.japanese_cuisine .training .title_common {
  width: 121.5rem;
}
.japanese_cuisine .training ul#training_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.3rem;
  list-style: none;
  overflow: hidden;
}
.japanese_cuisine .training ul#training_list li {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: bolder;
  text-align: left;
  width: 41rem;
  padding: 1.3rem 0 1.3rem 0.2rem;
  height: 5.4rem;
  margin: 0;
  justify-content: space-between;
}
.japanese_cuisine .training ul#training_list li a {
  color: #000;
}

.japanese_cuisine section#training ul#training_list li a:link {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:visited {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:hover {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:active {
  text-decoration: none;
}

.japanese_cuisine .training ul.training_list_short {
  height: 26.5rem;
  transition: height 0.3s ease-out;
}

.japanese_cuisine .training ul.training_list_long {
  height: 70rem;
  transition: height 0.3s ease-out;
}
.japanese_cuisine .training ul#training_list li:nth-child(9) {
  width: 82rem;
}
.japanese_cuisine .training ul#training_list li:nth-child(n + 36) {
  width: 54rem;
}
.japanese_cuisine .training ul#training_list li:last-child {
  width: 57rem;
}

.japanese_cuisine .training .read_more {
  text-align: center;
  margin-top: 3rem;
}
.japanese_cuisine .training .read_more #read_more {
  font-size: 3rem;
  line-height: 5rem;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
  width: 25rem;
  text-align: center;
  margin: 0 auto;
  border: solid 2px #000;
}

/*本格和食とは？*/
.japanese_cuisine .authentic {
  margin-top: 14rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .authentic .title_common {
  width: 89.3rem;
}
.japanese_cuisine .authentic .textblock {
  width: 79.5rem;
  margin: 3.7rem 0 0 0;
}
.japanese_cuisine .authentic .textblock h3 {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #000;
  text-align: left;
  line-height: 1;
}
.japanese_cuisine .authentic .textblock p {
  font-size: 2.35rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  line-height: 5rem;
  margin-top: 4.6rem;
}
.japanese_cuisine .authentic .authentic_figure_1 {
  width: 81.3rem;
  height: 33rem;
  overflow: hidden;
  margin: 3.7rem 0.5% 0 0;
}
.japanese_cuisine .authentic .authentic_figure_1 img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .authentic .authentic_figure_2 {
  width: 100%;
  height: 24.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0;
  margin-top: 3.7rem;
}
.japanese_cuisine .authentic .authentic_figure_2 figure {
  width: 38.8rem;
  height: 24.2rem;
  overflow: hidden;
}
.japanese_cuisine .authentic .authentic_figure_2 figure img {
  width: 100%;
  height: auto;
}

/*3つのステップで学びます*/

.japanese_cuisine .three_step {
  margin-top: 14.9rem;
}
.japanese_cuisine .three_step .title_common {
  width: 121.44rem;
}
.japanese_cuisine .three_step .step {
  margin-top: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .three_step .step dl {
  width: 37.8rem;
  height: 27.1rem;
  margin: 0 2.3rem;
  background-color: rgba(20, 175, 222, 0.2);
  border-radius: 1.5rem;
}
.japanese_cuisine .three_step .step dl:nth-of-type(2) {
  background-color: #fffcdf;
}
.japanese_cuisine .three_step .step dl:last-child {
  background-color: #f5dee8;
}
.japanese_cuisine .three_step .step dl dt {
  display: block;
  margin: 0 auto;
  width: 28.9rem;
  height: 7.2rem;
  box-sizing: border-box;
  padding-top: 2.2rem;
  border-bottom: solid 1px #000;
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: bolder;
  text-align: center;
}
.japanese_cuisine .three_step .step dl dd {
  font-size: 2.3rem;
  line-height: 4rem;
  text-align: left;
  margin: 2rem 0 0 5.8rem;
  font-weight: normal;
}
.japanese_cuisine .three_step .step dl dd span {
  font-size: 1.8rem;
  line-height: 1;
  color: #650139;
}

.japanese_cuisine .three_step .step .triangle_gold {
  width: 4.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .three_step .step .triangle_gold img {
  width: 100%;
  height: auto;
}

.japanese_cuisine .three_step .calendar {
  display: flex;
  justify-content: center;
  height: 29rem;
  width: 99%;
  padding: 0 0;
  margin: 3.5rem auto 0 auto;
}
.japanese_cuisine .three_step .calendar figure {
  height: 29rem;
  margin: 0.3rem 1.5rem;
}
.japanese_cuisine .three_step .calendar figure img {
  height: 100%;
  width: auto;
}
.japanese_cuisine .three_step .hiru_tanki_link {
  display: block;
  width: 71.1rem;
  height: 5.4rem;
  box-sizing: border-box;
  background-color: #650139;
  font-size: 2.3rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  padding-top: 1.6rem;
  margin: 3.7rem auto 0 auto;
}

/*講師紹介*/
.japanese_cuisine .teacher {
  margin-top: 12.7rem;
}
.japanese_cuisine .teacher .title_common {
  width: 89.35rem;
}
.japanese_cuisine .teacher .teacher_wrap {
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem auto 0 auto;
  background-color: rgba(222, 183, 20, 0.2);
  border-radius: 1.5rem;
  width: 99%;
  padding: 6.8rem 0 4.4rem 0;
}
.japanese_cuisine .teacher .textblock_1 {
  width: 35.2rem;
  height: 42.4rem;
  margin: 0 0 0 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .teacher .textblock_1 .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.japanese_cuisine .teacher .textblock_1 .name .name_1 {
  font-size: 2.5rem;
  line-height: 5rem;
  color: #000;
  font-weight: bold;
}
.japanese_cuisine .teacher .textblock_1 .name .name_2 {
  font-size: 3rem;
  line-height: 5rem;
  color: #000;
  font-weight: bold;
}
.japanese_cuisine .teacher .textblock_1 .name .name_2 b {
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  font-weight: bolder;
}
.japanese_cuisine .teacher .textblock_1 .bodytext {
  font-size: 1.95rem;
  line-height: 3.2rem;
  color: #000;
  font-weight: normal;
}
.japanese_cuisine .teacher .textblock_2 {
  width: 62.1rem;
  height: 43.3rem;
  margin: 0 2rem 0 5.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .teacher .textblock_2 h3 {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.japanese_cuisine .teacher .textblock_2 p {
  font-size: 2.1rem;
  line-height: 4rem;
  font-weight: bold;
}
.japanese_cuisine .teacher figure {
  width: 48.2rem;
  height: 40.8rem;
  margin: 0 7.6rem 0 0;
}
.japanese_cuisine .teacher figure img {
  width: 100%;
  height: auto;
}

.japanese_cuisine .question {
  margin-top: 11.1rem;
  background-color: #deb714;
  padding: 2.7rem 4rem 0 4rem;
}
.japanese_cuisine .question .title_common {
  width: 89.35rem;
}
.japanese_cuisine .question dl {
  height: 20.3rem;
  border-bottom: solid 1px #fff;
  display: flex;
}
.japanese_cuisine .question dl:last-child {
  border-bottom: none;
}
.japanese_cuisine .question dl dt {
  width: 63rem;
  display: flex;
  align-items: center;
}
.japanese_cuisine .question dl dt figure {
  width: 11.693rem;
  height: 9.692rem;
}
.japanese_cuisine .question dl dt figure img {
  width: auto;
  height: 100%;
}
.japanese_cuisine .question dl dd {
  width: 95.3rem;
  font-size: 2.3rem;
  line-height: 4rem;
  display: flex;
  align-items: center;
}
.japanese_cuisine .question dl dt p {
  margin-left: 2.8rem;
  font-size: 3rem;
  color: #fff;
  line-height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.japanese_cuisine .question dl dd figure {
  width: 9.8rem;
  height: 8.1rem;
  margin-right: 2.8rem;
}
.japanese_cuisine .question dl dd figure img {
  width: auto;
  height: 100%;
}
.japanese_cuisine .question dl dd p {
  font-size: 2.3rem;
  line-height: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 82rem;
}

/*受講費について*/
.japanese_cuisine .fee {
  margin-top: 12.5rem;
}
.japanese_cuisine .fee .title_common {
  width: 89.35rem;
  margin-bottom: 5.4rem;
}
.japanese_cuisine .fee dl {
  display: flex;
  width: 128.4rem;
  height: 7.7rem;
  margin: 1.4rem auto;
}
.japanese_cuisine .fee dl:nth-of-type(n + 2) {
  margin: 0 auto;
}
.japanese_cuisine .fee dl dt {
  width: 64.2rem;
  height: 7.7rem;
  background-color: #000;
  font-size: 3rem;
  line-height: 1;
  font-weight: bolder;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .fee dl:nth-of-type(n + 3) dt {
  border-top: solid 1px #fff;
}
.japanese_cuisine .fee dl:nth-of-type(5) dt {
  border-bottom: none;
}
.japanese_cuisine .fee dl dt small {
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 1.5;
}
.japanese_cuisine .fee dl dd {
  width: 64.2rem;
  height: 7.7rem;
  background-color: #fff;
  font-size: 3rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .fee dl:nth-of-type(1) dd {
  border: solid 1px #000;
}
.japanese_cuisine .fee dl:nth-of-type(n + 2) dd {
  border: solid 1px #000;
  border-bottom: none;
}
.japanese_cuisine .fee dl:nth-of-type(5) dd {
  border-bottom: solid 1px #000;
}
.japanese_cuisine .fee p.tax {
  font-size: 2.3rem;
  width: 128.4rem;
  margin: 0.9rem auto;
  text-align: right;
}
.japanese_cuisine .fee p.tax span {
  margin-right: -1.2rem;
}

/*校舎*/
.japanese_cuisine .school {
  margin-top: 11rem;
}
.japanese_cuisine .school .title_common {
  width: 89.35rem;
}
.japanese_cuisine .school .map {
  margin-top: 1.7rem;
  width: 166.4rem;
  height: 85.6rem;
}
.japanese_cuisine .school .map iframe {
  width: 166.4rem;
  height: 85.6rem;
}
.japanese_cuisine .school address {
  font-style: normal;
  width: 100%;
  margin: 2.7rem 0 0 0;
}
.japanese_cuisine .school address div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem 0;
}
.japanese_cuisine .school address div figure {
  margin-right: 0.8rem;
}
.japanese_cuisine .school address div figure img {
  height: 100%;
  width: 100%;
}
.japanese_cuisine .school address .address_1 {
  font-size: 2.3rem;
  font-weight: bolder;
  width: 100%;
}
.japanese_cuisine .school address .address_1 figure {
  width: 2.718rem;
  height: 3.592rem;
}
.japanese_cuisine .school address .address_2,
.japanese_cuisine .school address .address_3 {
  font-size: 2.1rem;
  font-weight: normal;
  width: 100%;
}
.japanese_cuisine .school address .address_2 figure {
  width: 2.235rem;
  height: 3.563rem;
}
.japanese_cuisine .school address .address_3 figure {
  width: 3.118rem;
  height: 3.662rem;
}
.japanese_cuisine .school address .address_4 {
  width: 57.875rem;
  height: 5.142rem;
  position: absolute;
  right: 0;
  top: 0;
}
.japanese_cuisine .school address .address_4 a {
  display: block;
  height: 100%;
  width: 100%;
}
.japanese_cuisine .school address .address_4 a img {
  display: block;
  height: 100%;
  width: 100%;
}

.japanese_cuisine .school address a[href^="tel:"] {
  pointer-events: none;
}

.japanese_cuisine .school address .tel {
  font-size: 6.5rem;
}
.japanese_cuisine .school address .tel a {
  color: #000;
}
.japanese_cuisine .school address .sp {
  display: none;
}
.japanese_cuisine .school address.studyplace {
  display: flex;
  margin-top: 6rem;
}
.japanese_cuisine .school address.studyplace h3 {
  font-size: 3.6rem;
  width: 28.9rem;
  height: 9rem;
  border-right: solid 1px #000;
  text-align: left;
  padding-top: 2.5rem;

  box-sizing: border-box;
}
.japanese_cuisine .school address.studyplace > div {
  width: 134rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: -1.3rem 0 0 3.6rem;
}

/*人を想い、世界を拓く*/
.japanese_cuisine .human {
  margin-top: 11.4rem;
}
.japanese_cuisine .human .title_common {
  width: 121.4rem;
}
.japanese_cuisine .human .title_common img {
  width: 74rem;
  height: auto;
}
.japanese_cuisine .human p {
  width: 88rem;
  margin: 5.7rem auto 0 auto;
  font-size: 2.8rem;
  line-height: 5rem;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/*TOPへのボタン*/
.japanese_cuisine a.top_button {
  display: block;
  height: 7.374rem;
  width: 7.374rem;
  margin: 6.4rem auto 0 auto;
}
.japanese_cuisine a.top_button img {
  width: 100%;
  height: 100%;
}

/*footer*/
.japanese_cuisine footer {
  margin-top: 3.5rem;
  width: 100%;
  height: 22.4rem;
  display: flex;
}
.japanese_cuisine footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18.8rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.japanese_cuisine footer .gradation {
  background-image: url(../img/gradation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.6rem;
}
.japanese_cuisine footer .logo {
  width: 45.7rem;
  height: 18.8rem;
}
.japanese_cuisine footer .logo figure {
  width: 33.1rem;
  height: 15.7rem;
  position: absolute;
  top: 2.2rem;
  left: 0.8rem;
}
.japanese_cuisine footer .logo figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine footer ul {
  list-style: none;
  width: 120.7rem;
  height: 14.6rem;
  border-left: solid 1px #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.2rem;
}
.japanese_cuisine footer ul li {
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 3.2rem;
}
.japanese_cuisine footer ul li a {
  color: #000;
}
.japanese_cuisine footer ul li:first-child {
  margin-left: 8.4rem;
}
.japanese_cuisine footer ul li:nth-child(5) {
  margin-right: 7.3rem;
}
.japanese_cuisine footer ul li:last-child {
  width: 112.2rem;
  margin-left: 8.4rem;
  margin-top: 2rem;
}
/*フロートパネル*/
.japanese_cuisine .float {
  position: absolute;
  top: 2rem;
  width: 72rem;
  padding: 3.2rem 4.5rem 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.4);
  z-index: 2000;
}
.japanese_cuisine .float h2 {
  font-size: 2.2rem;
  line-height: 3;
  text-align:center;
}
.japanese_cuisine .float h3 {
  width: 63rem;
  overflow: hidden;
}
.japanese_cuisine .float h3 img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .float h4 {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
  border-bottom: solid 0.4rem #deb714;
  position: relative;
}
.japanese_cuisine .float h4:nth-of-type(1) {
  margin-top: 1rem;
}
.japanese_cuisine .float h4 span {
  display: inline-block;
  background-color: #deb714;
  min-width: 13.8rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 0.5rem 1.5rem;
}
.japanese_cuisine .float p {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000;
}
.japanese_cuisine .float figure {
  margin-top: 2.2rem;
  width: 63rem;
}
.japanese_cuisine .float figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .float .caption{
  font-size: 1rem;
  margin-top: 0.4rem;
  text-align: center;
}

.japanese_cuisine .float .rights {
  font-size: 1.2rem;
  line-height: 4rem;
  margin-top: 3rem;
  text-align: center;
}
.japanese_cuisine .float_event {
  left: -4rem;
}
.japanese_cuisine .float_news {
  left: -10.8rem;
}
.japanese_cuisine .visible {
  display: block;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
.japanese_cuisine .invisible {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
