@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* /リセット*/

div,
dl,
dt,
dd,
p,
ul,
li,
ol,
header,
nav,
footer,
section,
article,
address {
  box-sizing: border-box;
  position: relative;
}

/*共通*/
html {
  font-size: 2.666vw;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W5",
    "ヒラギノ角ゴ ProN W6", meiryo, "ms pgothic", sans-serif;
  color: #000;
}
.pc {
  display: none;
}

.japanese_cuisine a {
  text-decoration-line: none !important;
  text-decoration: none !important;
}

.japanese_cuisine {
  background-color: #fff;
  overflow: hidden;
  background-image: url(../img/sp_footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: 22.2rem 28rem;
  background-position: right bottom;
  overflow: hidden;
}
/*見出し*/
.japanese_cuisine .title_common {
  width: 33.8rem;
  margin: 0 auto;
  font-family: serif;
  font-weight: bolder;
  font-size: 2.2rem;
  line-height: 2.7rem;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: 6.2rem 2.5rem, 6.2rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5.5rem;
  box-sizing: border-box;
}
.japanese_cuisine .title_white {
  background-image: url("../img/h2back_left.svg"),
    url("../img/h2back_right.svg");
}
.japanese_cuisine .title_brown {
  background-image: url("../img/h2back_left_brown.svg"),
    url("../img/h2back_right_brown.svg");
}
.japanese_cuisine .title2_common {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.1rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-size: 1.7rem;
  color: #000;
  text-align: center;
  box-sizing: content-box;
  padding-top: 1.3rem;
}
.japanese_cuisine .title2_white {
  background-image: url("../img/title2_white.svg");
}
.japanese_cuisine .title2_brown {
  background-image: url("../img/title2_brown.svg");
  color: #fff;
  font-size: 1.7rem;
  height: 4.5rem;
}
.japanese_cuisine .title2_black {
  background-image: url("../img/title2_black.svg");
  color: #fff;
  font-size: 1.7rem;
  height: 4.5rem;
}

.japanese_cuisine .anchor_point {
  position: absolute;
  top: 0;
  visibility: hidden;
  height: 0;
}
/* header */
.japanese_cuisine header {
  width: 100%;
  height: 5.5rem;
  background-color: #fff;
}

/*メインビジュアル*/
.japanese_cuisine .key-visual {
  width: 100%;
  height: 60.5rem;
}
.japanese_cuisine .key-visual h1 {
  width: 100%;
  height: 60.5rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_short_h1.svg),
    /* 最前面の背景レイヤーの背景画像 */ url(../img/HUMANwashokuhirutanki_2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: 37.5rem 8.5rem, cover;
}
/*お知らせ*/
.japanese_cuisine .oshirase {
  width: 100%;
  height: 66rem;
  background-color: #deb714;
  background-image: url("../img/sp_oshirase_bg_left.png"),
    url("../img/sp_oshirase_bg_right.png");
  background-repeat: repeat-y, repeat-y;
  background-position: top left, top right;
  background-size: 9.5rem 33.8rem, 13.2rem 32.3rem;
  padding: 3.4rem 0 0 0;
}

.japanese_cuisine .oshirase ul {
  list-style: none;
  width: 33.8rem;
  height: 52.3rem;
  margin: 1.9rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.japanese_cuisine .oshirase ul li {
  width: 33.8rem;
  height: 16.1rem;
}
.japanese_cuisine .title2_box {
  width: 33.8rem;
  height: 15.1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 0.9rem;
}
.japanese_cuisine #event .title2_box {
  background-image: url("../img/oshirase_1.jpg");
}
.japanese_cuisine #news .title2_box {
  background-image: url("../img/oshirase_2.jpg");
}
.japanese_cuisine #Instagram .title2_box {
  background-image: url("../img/oshirase_3.jpg");
}
.japanese_cuisine #Instagram p.soon{
  position :absolute;
  width:100%;
  top:8rem;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  text-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.8);
}

.japanese_cuisine .float .close {
  background-color: #650139;
  color: #fff !important;
  font-size: 1.6rem;
  padding: 0.6rem;
  text-align: center;
}

/*こんな方におすすめ*/
.japanese_cuisine .osusume {
  margin: 4.8rem auto 0 auto;
  width: 100%;
}
.japanese_cuisine .osusume ul {
  width: 33.9rem;
  list-style: none;
  margin: 1.5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.japanese_cuisine .osusume ul li {
  width: 33.9rem;
  position: relative;
}
.japanese_cuisine .osusume ul li:first-child {
  margin-top: 1.5rem;
}
.japanese_cuisine .osusume ul li:nth-child(n + 2) {
  margin-top: 2.7rem;
}

.japanese_cuisine .osusume ul li p {
  margin-top: 1.3rem;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 2.3rem;
}
.japanese_cuisine .osusume ul li .title2_box {
  width: 33.9rem;
  height: 17.5rem;
  background-size: cover;
}
.japanese_cuisine .osusume ul li:nth-child(1) .title2_box {
  background-image: url("../img/osusume_3.jpg");
  background-position: center 1.6rem;
}
.japanese_cuisine .osusume ul li:nth-child(2) .title2_box {
  background-image: url("../img/osusume_1.jpg");
}
.japanese_cuisine .osusume ul li:nth-child(3) .title2_box {
  background-image: url("../img/osusume_2.jpg");
}

/*一流の料理人を育てる講座です*/
.japanese_cuisine .kouza {
  background-color: rgba(222, 183, 20, 0.2);
  padding: 1.9rem 0 2rem 0;
  width: 100%;
  /*height: 40.7rem;*/
  margin-top: 4.7rem;
}

.japanese_cuisine .photo_gallery {
  position: relative;
  width: 33.9rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: colmn;
  /*flex-direction: row;*/
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap {
  width: 33.9rem;
  margin: 1.4rem auto 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  order: 2;
  flex: auto;
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap .food_type {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  background-color: #000;
  padding: 0.8rem;
  line-height: 1;
  min-width: 4rem;
  text-align: center;
}
.japanese_cuisine .photo_gallery .photo_gallery_title_wrap .food_title {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #000;
  font-size: 2rem;
  line-height: 3rem;
  margin-left: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}
.japanese_cuisine .photo_gallery .main_photo {
  margin-top: 2rem;
  width: 33.9rem;
  height: 21.5rem;
  overflow: hidden;
  order: 1;
  flex: auto;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper {
  height: 21.5rem;
  width: 406.8rem;
  position: relative;
  display: flex;
  justify-content: start;
}
.main_photo_wrapper_0 {
  margin-left: 0;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_1 {
  margin-left: -33.9rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_2 {
  margin-left: -67rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_3 {
  margin-left: -101.7rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_4 {
  margin-left: -135.6rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_5 {
  margin-left: -169.5rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_6 {
  margin-left: -203.4rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_7 {
  margin-left: -237.3rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_8 {
  margin-left: -271.2rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_9 {
  margin-left: -305.1rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_10 {
  margin-left: -339rem;
  transition: margin-left 0.4s ease-out;
}
.main_photo_wrapper_11 {
  margin-left: -372.9rem;
  transition: margin-left 0.4s ease-out;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper figure {
  width: 33.9rem;
  height: 21.5rem;
  overflow: hidden;
  display: block;
  margin: 0;
}
.japanese_cuisine .photo_gallery .main_photo #main_photo_wrapper figure img {
  display: block;
  width: 33.9rem;
  height: 21.5rem;
  margin: 0;
}

.japanese_cuisine .photo_gallery .button_1 {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: #deb714;
}
.japanese_cuisine .photo_gallery .button_1:before {
  content: "";
  position: absolute;
  top: 0.7rem;
  width: 0.9rem;
  height: 0.9rem;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.japanese_cuisine .photo_gallery .button_1_left {
  top: 11rem;
  left: 1rem;
}
.japanese_cuisine .photo_gallery .button_1_left:before {
  left: 0.8rem;
  border-width: 0.2rem 0 0 0.2rem;
}
.japanese_cuisine .photo_gallery .button_1_right {
  top: 11rem;
  right: 1rem;
}
.japanese_cuisine .photo_gallery .button_1_right:before {
  right: 0.9rem;
  border-width: 0 0.1rem 0.1rem 0;
}

/*フォトギャラリーサムネール表示*/
.japanese_cuisine .sp_visible {
  display: block;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
.japanese_cuisine .sp_invisible {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.japanese_cuisine .photo_gallery .thumbnails {
  width: 100%;
  overflow: hidden;
  background-color: #f8f0cf;
  z-index: 900;
  order: 3;
  flex: auto;
  margin-top: 1rem;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap {
  width: 100%;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul {
  width: 33.9rem;
  height: 14.66rem;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul li {
  width: 11rem;
  height: 6.95rem;
  margin-bottom: 0.4rem;
}
.japanese_cuisine .photo_gallery #thumbnail_wrap ul li img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .photo_gallery #kouza_more_btn {
  margin-top: 0.7rem;
  width: 100%;
  height: 3.3rem;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 4;
  flex: auto;
}

/*特徴1〜3*/
.japanese_cuisine .kouza .characteristic {
  width: 33.9rem;
}
.japanese_cuisine .kouza .characteristic_1 {
  margin: 4.5rem auto 0 auto;
}
.japanese_cuisine .kouza .characteristic_2,
.japanese_cuisine .kouza .characteristic_3 {
  margin: 4.8rem auto 0 auto;
}

.japanese_cuisine .characteristic .chara_title {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.4rem;
  color: #000;
  font-weight: bolder;
  line-height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.japanese_cuisine .characteristic .chara_title img {
  width: 5.1rem;
  height: 5.1rem;
  margin-right: 1.3rem;
}
.japanese_cuisine .characteristic .chara_title > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.japanese_cuisine .characteristic p {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: #000;
}

/*プロの料理人が太鼓判を押しました。*/
.japanese_cuisine .recommendation {
  padding: 6.2rem 1.8rem 0 1.8rem;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.japanese_cuisine .recommendation .sub_title {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.9rem;
  line-height: 1;
  font-weight: bolder;
  font-family: serif;
  color: #000;
  text-align: center;
}
.japanese_cuisine .recommendation section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 3.6rem;
}
.japanese_cuisine .recommendation section figure {
  width: 21.1rem;
  height: 14.4rem;
  overflow: hidden;
  margin-right: 1rem;
  border-radius: 1.5rem;
}
.japanese_cuisine .recommendation section figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .recommendation section p.name {
  width: 10rem;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: bold;
}
.japanese_cuisine .recommendation section p.name > span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.japanese_cuisine .recommendation section p.name b {
  font-size: 1.4rem;
  font-weight: bolder;
}
.japanese_cuisine .recommendation section h3.title {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: bolder;
  color: #650139;
  margin-top: 1.8rem;
  width: 100%;
}
.japanese_cuisine .recommendation section .bodytext {
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-top: 0.8rem;
  width: 100%;
}

/*本物の和食を学ぶ43の研修先*/

.japanese_cuisine .training {
  padding: 4.7rem 1.8rem 0 1.8rem;
}
.japanese_cuisine .training ul {
  margin-top: 2rem;
}
.japanese_cuisine .training ul#training_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  flex-direction: row;
}
.japanese_cuisine .training ul#training_list li {
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: bolder;
  text-align: left;
  width: 49.5%;
  padding: 0.6rem 0;
  white-space: nowrap;
}
.japanese_cuisine section#training ul#training_list li a {
  color: #000;
}

.japanese_cuisine section#training ul#training_list li a:link {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:visited {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:hover {
  text-decoration: none;
}
.japanese_cuisine section#training ul#training_list li a a:active {
  text-decoration: none;
}

.japanese_cuisine .training ul.training_list_short {
  height: 20rem;
  transition: height 0.3s ease-out;
}

.japanese_cuisine .training ul.training_list_long {
  height: 130rem;
  transition: height 0.3s ease-out;
}

.japanese_cuisine .training ul#training_list li.long {
  width: 100%;
}
#training_list_1 {
  order: 1;
  flex: auto;
}
#training_list_2 {
  order: 2;
  flex: auto;
}
#training_list_3 {
  order: 3;
  flex: auto;
}
#training_list_4 {
  order: 7;
  flex: auto;
}
#training_list_5 {
  order: 4;
  flex: auto;
}
#training_list_6 {
  order: 6;
  flex: auto;
}
#training_list_7 {
  order: 24;
  flex: auto;
}
#training_list_8 {
  order: 25;
  flex: auto;
}
#training_list_9 {
  order: 26;
  flex: auto;
}
#training_list_10 {
  order: 8;
  flex: auto;
}
#training_list_11 {
  order: 27;
  flex: auto;
}
#training_list_12 {
  order: 28;
  flex: auto;
}
#training_list_13 {
  order: 29;
  flex: auto;
}
#training_list_14 {
  order: 29;
  flex: auto;
}
#training_list_15 {
  order: 30;
  flex: auto;
}
#training_list_16 {
  order: 31;
  flex: auto;
}
#training_list_17 {
  order: 10;
  flex: auto;
}
#training_list_18 {
  order: 32;
  flex: auto;
}
#training_list_19 {
  order: 9;
  flex: auto;
}
#training_list_20 {
  order: 11;
  flex: auto;
}
#training_list_21 {
  order: 33;
  flex: auto;
}
#training_list_22 {
  order: 12;
  flex: auto;
}
#training_list_23 {
  order: 13;
  flex: auto;
}
#training_list_24 {
  order: 14;
  flex: auto;
}
#training_list_25 {
  order: 15;
  flex: auto;
}
#training_list_26 {
  order: 16;
  flex: auto;
}
#training_list_27 {
  order: 17;
  flex: auto;
}
#training_list_28 {
  order: 34;
  flex: auto;
}
#training_list_29 {
  order: 18;
  flex: auto;
}
#training_list_30 {
  order: 19;
  flex: auto;
}
#training_list_31 {
  order: 35;
  flex: auto;
}
#training_list_32 {
  order: 20;
  flex: auto;
}
#training_list_33 {
  order: 21;
  flex: auto;
}
#training_list_34 {
  order: 22;
  flex: auto;
}
#training_list_35 {
  order: 23;
  flex: auto;
}
#training_list_36 {
  order: 36;
  flex: auto;
}
#training_list_37 {
  order: 37;
  flex: auto;
}
#training_list_38 {
  order: 38;
  flex: auto;
}
#training_list_39 {
  order: 39;
  flex: auto;
}
#training_list_40 {
  order: 40;
  flex: auto;
}
#training_list_41 {
  order: 41;
  flex: auto;
}
#training_list_42 {
  order: 42;
  flex: auto;
}
#training_list_43 {
  order: 43;
  flex: auto;
}

.japanese_cuisine .training .read_more {
  width: 100%;
  height: 3.3rem;
}
.japanese_cuisine .training .read_more #read_more {
  width: 100%;
  height: 3.3rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  background-color: #000;
  box-sizing: border-box;
  padding-top: 0.9rem;
}

/*本格和食とは？*/
.japanese_cuisine .authentic {
  padding: 6.6rem 1.8rem 0 1.8rem;
}

.japanese_cuisine .authentic .textblock {
  width: 79.5rem;
  margin: 2.2rem 0 0 0;
  width: 33.9rem;
}
.japanese_cuisine .authentic .textblock h3 {
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.2rem;
  font-weight: bolder;
  color: #000;
  text-align: left;
  line-height: 1;
  width: 33.9rem;
}
.japanese_cuisine .authentic .textblock p {
  font-size: 1.5rem;
  color: #000;
  text-align: left;
  line-height: 2.8rem;
  margin-top: 1.3rem;
  width: 33.9rem;
}
.japanese_cuisine .authentic .authentic_figure_1 {
  width: 33.9rem;
  height: 22.3rem;
  overflow: hidden;
  margin: 2.2rem 0 0 0;
}
.japanese_cuisine .authentic .authentic_figure_1 img {
  width: 100%;
  height: 100%;
}
.japanese_cuisine .authentic .authentic_figure_2 {
  width: 33.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.8rem;
}
.japanese_cuisine .authentic .authentic_figure_2 figure {
  width: 16.5rem;
  height: 10.3rem;
  overflow: hidden;
  margin-bottom: 0.7rem;
}
.japanese_cuisine .authentic .authentic_figure_2 figure img {
  width: 100%;
  height: auto;
}

/*3つのステップで学びます*/

.japanese_cuisine .three_step {
  margin-top: 6rem;
  padding: 0 1.8rem;
}
.japanese_cuisine .three_step .step {
  margin-top: 2.2rem;
}
.japanese_cuisine .three_step .step dl {
  width: 33.9rem;
  height: 12.1rem;
  margin: 0.8rem 0;
  background-color: rgba(20, 175, 222, 0.2);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.japanese_cuisine .three_step .step dl:nth-of-type(2) {
  background-color: #fffcdf;
}
.japanese_cuisine .three_step .step dl:last-child {
  background-color: #f5dee8;
}
.japanese_cuisine .three_step .step dl dt {
  display: block;
  width: 12rem;
  height: 8.8rem;
  box-sizing: border-box;
  padding-top: 3.3rem;
  border-right: solid 1px #000;
  font-family: "Hiragino Mincho ProN W6", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W6", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bolder;
  text-align: center;
}
.japanese_cuisine .three_step .step dl dd {
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-align: left;
  margin: 0 0 0 2.4rem;
  font-weight: normal;
  width: 18.8rem;
}
.japanese_cuisine .three_step .step dl dd span {
  font-size: 1.8rem;
  line-height: 1;
  color: #650139;
}

.japanese_cuisine .three_step .step .triangle_gold {
  width: 33.9rem;
  height: 1.8rem;
  text-align: center;
}
.japanese_cuisine .three_step .step .triangle_gold img {
  width: auto;
  height: 100%;
  transform: rotate(90deg);
}

.calendar {
  scroll-snap-type: x mandatory;
  width: 32.4rem;
  height: 29.5rem;
  margin: 1.9rem auto 0 auto;
  overflow-x: scroll;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.calendar > figure {
  scroll-snap-align: center;
  width: 32.4rem;
  height: 29.5rem;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.japanese_cuisine .three_step .calendar figure img {
  height: 100%;
  width: 100%;
}
.swip_text {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0;
}

.japanese_cuisine .three_step .hiru_tanki_link {
  display: none;
}

/*講師紹介*/
.japanese_cuisine .teacher {
  margin-top: 9rem;
}

.japanese_cuisine .teacher .teacher_wrap {
  background-color: rgba(222, 183, 20, 0.2);
  width: 100%;
  padding: 2.3rem 1.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}
.japanese_cuisine .teacher .textblock_1 {
  margin-top: 0.8rem;
  -webkit-box-ordinal-group: 2;
  　　-ms-flex-order: 2;
  　　-webkit-order: 2;
  　　order: 2;
}
.japanese_cuisine .teacher .textblock_1 .name {
}
.japanese_cuisine .teacher .textblock_1 .name .name_1 {
  font-size: 1.3rem;
  line-height: 1rem;
  color: #000;
  font-weight: bold;
}
.japanese_cuisine .teacher .textblock_1 .name .name_2 {
  font-size: 1.3rem;
  line-height: 1rem;
  color: #000;
  font-weight: bold;
}
.japanese_cuisine .teacher .textblock_1 .name .name_2 b {
  font-size: 1.8rem;
  line-height: 1;
  color: #000;
  font-weight: bolder;
}
.japanese_cuisine .teacher .textblock_1 .bodytext {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #000;
  font-weight: normal;
  margin-top: 1rem;
}
.japanese_cuisine .teacher .textblock_2 {
  width: 33.9rem;
  margin-top: 2.3rem;
  -webkit-box-ordinal-group: 3;
  　　-ms-flex-order: 3;
  　　-webkit-order: 3;
  　　order: 3;
}
.japanese_cuisine .teacher .textblock_2 h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.japanese_cuisine .teacher .textblock_2 p {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: bold;
}
.japanese_cuisine .teacher figure.photo {
  width: 33.9rem;
  height: 29.2rem;
  order: -1;
  flex: auto;
}
.japanese_cuisine .teacher figure.photo img {
  width: 100%;
  height: auto;
}

/*よくあるご質問*/
.japanese_cuisine .question {
  margin-top: 5.7rem;
  width: 100%;
  background-color: #deb714;
  padding: 2rem 1.8rem 0 1.8rem;
}
.japanese_cuisine .question dl {
  padding: 2.5rem 0 3rem 0;
  border-bottom: solid 0.15rem #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .question dl:last-child {
  border-bottom: none;
}
.japanese_cuisine .question dl dt {
  width: 33.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.japanese_cuisine .question dl dt figure {
  width: 6.5rem;
  margin-right: 0.5rem;
}
.japanese_cuisine .question dl dt figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .question dl dt p {
  width: 26.5rem;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bolder;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.japanese_cuisine .question dl dd {
  width: 33.9rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
}
.japanese_cuisine .question dl dd p {
  width: 33.9rem;
  margin-top: 1.6rem;
}

/*受講費について*/
.japanese_cuisine .fee {
  padding: 6.6rem 1.8rem 0 1.8rem;
  background-color: #fff;
}
.japanese_cuisine .fee dl {
  display: flex;
  width: 33.9rem;
  height: 7.7rem;
  margin: 1.4rem auto;
}
.japanese_cuisine .fee dl:nth-of-type(n + 2) {
  margin: 0 auto;
}
.japanese_cuisine .fee dl dt {
  width: 15.8rem;
  height: 7.7rem;
  background-color: #000;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: bolder;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.japanese_cuisine .fee dl:nth-of-type(n + 3) dt {
  border-top: solid 1px #fff;
}
.japanese_cuisine .fee dl dt small {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4;
}
.japanese_cuisine .fee dl dd {
  width: 18rem;
  height: 7.7rem;
  background-color: #fff;
  font-size: 2.2rem;
  line-height: 3.5rem;
  font-weight: normal;
  border-left: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.japanese_cuisine .fee dl:nth-of-type(1) dd {
  border: solid 1px #000;
}
.japanese_cuisine .fee dl:nth-of-type(n + 2) dd {
  border: solid 1px #000;
  border-bottom: none;
}
.japanese_cuisine .fee dl:nth-of-type(5) dd {
  border-bottom: solid 1px #000;
}
.japanese_cuisine .fee p.tax {
  font-size: 1.4rem;
  width: 33.9rem;
  margin: 0.7rem auto;
  text-align: right;
}
.japanese_cuisine .fee p.tax span {
  margin-right: -0.8rem;
}

/*校舎*/
.japanese_cuisine .school {
  padding: 6rem 0 0 0;
  background-color: #fff;
}
.japanese_cuisine .school .map {
  margin-top: 2rem;
  width: 37.5rem;
  height: 37.5rem;
}
.japanese_cuisine .school .map iframe {
  width: 100%;
  height: 100%;
}
.japanese_cuisine .school address {
  font-style: normal;
  line-height: 1.6;
  width: 33.9rem;
  margin: 2rem auto 0 auto;
}
.japanese_cuisine .school address div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1.6rem 0;
}
.japanese_cuisine .school address div > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  line-height:2.2rem;
}
.japanese_cuisine .school address div figure {
  margin-right: 1.1rem;
  width: 3rem;
}
.japanese_cuisine .school address div figure img {
  height: auto;
  width: 100%;
}
.japanese_cuisine .school address div p > span {
  display: inline-block;
  width: 27rem;
}
.japanese_cuisine .school address .address_4.pc {
  display: none;
}
.japanese_cuisine .school address .address_4 a {
  display: block;
  width: 24.1rem;
}
.japanese_cuisine .school address .address_4 a img {
  display: block;
  height: auto;
  width: 100%;
}
.japanese_cuisine .school .pc {
  display: none;
}
.japanese_cuisine .school address.studyplace {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}
.japanese_cuisine .school address.studyplace h3 {
  font-size: 1.7rem;
  line-height: 4rem;
  border-bottom: solid 1px #707070;
  text-align: center;
}
.japanese_cuisine .school address.studyplace > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/*人を想い、世界を拓く*/
.japanese_cuisine .human {
  padding: 3rem 1.8rem 0 1.8rem;
}
.japanese_cuisine .human .title_common {
  height:2.4rem;
}
.japanese_cuisine .human .title_common img {
  width: 21rem;
  height: auto;
}
.japanese_cuisine .human p {
  width: 100%;
  margin-top: 2.3rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/*TOPへのボタン*/
.japanese_cuisine a.top_button {
  display: block;
  height: 4.6rem;
  width: 4.6rem;
  margin: 3rem auto 0 auto;
}
.japanese_cuisine a.top_button img {
  width: 100%;
  height: 100%;
}

/*footer*/
.japanese_cuisine footer {
  padding: 4.3rem 1.8rem 1.8rem 1.8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: left;
}
.japanese_cuisine footer a {
  color: #000;
  text-decoration: none;
}
.japanese_cuisine footer:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.japanese_cuisine footer .gradation {
  background-image: url(../img/gradation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
}
.japanese_cuisine footer .logo {
  width: 13.3rem;
  height: 6.3rem;

  margin-left: -1rem;
}
.japanese_cuisine footer .logo figure {
  width: 13.3rem;
  height: 6.3rem;
  text-align: left;
}
.japanese_cuisine footer .logo figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine footer ul {
  list-style: none;
  width: 18.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer ul li:first-child,
footer ul li:nth-child(3) {
  width: 8rem;
}
footer ul li:nth-child(2),
footer ul li:nth-child(4) {
  width: 9.9rem;
}
footer ul li:nth-child(5) {
  width: 18.6rem;
}
.japanese_cuisine footer p.sp {
  width: 33.9rem;
}

/*ハンバーガーメニュー*/
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 3.6rem;
  height: 2.1rem;
  vertical-align: middle;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 0.3rem; /*線の太さ*/
  width: 3.6rem; /*長さ*/
  border-radius: 0.15rem;
  background: #000;
  display: block;
  content: "";
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0; /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999; /*最前面に*/
  width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
  height: auto;
  background: #fff; /*背景色*/
  transition: 0.3s ease-in-out; /*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%); /*右に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block; /*カバーを表示*/
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(2%); /*中身を表示（左へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}
.japanese_cuisine header #nav-drawer ul.header-link__1 {
  list-style: none;
}
.japanese_cuisine header #nav-drawer ul.header-link__1 li {
  background-color: #000;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.japanese_cuisine header #nav-drawer ul.header-link__1 li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

/*フロートパネル*/
.japanese_cuisine .float {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 30rem;
  padding: 1.5rem 1.8rem 1.3rem 1.8rem;
  background-color: #fff;
  box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.4);
  z-index: 2000;
}
.japanese_cuisine .float h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}
.japanese_cuisine .float h3 {
  width: 26.4rem;
  overflow: hidden;
}
.japanese_cuisine .float h3 img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .float h4 {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  background-color: #deb714;
}
.japanese_cuisine .float p {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #000;
}
.japanese_cuisine .float figure {
  margin-top: 2rem;
  width: 26.4rem;
}
.japanese_cuisine .float figure img {
  width: 100%;
  height: auto;
}
.japanese_cuisine .float .caption{
  font-size: 1rem;
  text-align: center;
}
.japanese_cuisine .float .rights {
  font-size: 1rem;
  line-height: 4rem;
  margin-top: 3rem;
  text-align: center;
}
.japanese_cuisine .visible {
  display: block;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
.japanese_cuisine .invisible {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
