h1{font-size: 100px;
text-align: center;
margin-top: 250px;
color:red;
}

img {width:100%;}
html,body{height:100%;
maergin:0;
padding:0;
}
body{
    background: url(../img/2020-2.jpg) no-repeat ;
    background-size: cover;
}