body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color:#000;
  }

.yougo-m{
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.yougo-b{
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size:  18px;

}




h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 250px;
  color: red;
}

img {
  width: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url(../img/2020-2.jpg) no-repeat;
  background-size: cover;
}
.img2 {
  width: 100px;
  height: auto;
}
